source https://api.nuget.org/v3/index.json
storage: none

framework: auto-detect

nuget FSharp.Core redirects:on
nuget FSharpPlus
nuget FSharp.Data
nuget Milekic.YoLo storage: symlink
nuget Argu
nuget FsPickler
nuget GitInfo

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    storage: none

    framework: netstandard2.0

    nuget FSharpPlus
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
