version 5.224.0
storage none
source https://api.nuget.org/v3/index.json

framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget FSharp.Core redirects:on
nuget FSharp.Data
nuget Milekic.YoLo
nuget Argu
