version 5.224.0
storage none
source https://api.nuget.org/v3/index.json

framework: auto-detect

nuget FSharp.Core redirects:on
nuget FSharp.Data
nuget Milekic.YoLo
nuget Argu
nuget FsPickler
nuget GitInfo = 2.0.26
github nikolamilekic/Milekic.YoLo src/Milekic.YoLo/SetVersion.targets

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json

    framework: netstandard2.0

    nuget FSharpPlus
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
